@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

main {
  font-family: 'Roboto Mono', monospace;
  width: 100vw;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  color: #363638;
  border-right: 2px solid #363638;
  border-left: 2px solid #363638;
}

.intro {
  background: white;
  display: block;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

.intro__name {
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
  line-height: 95%;
  font-weight: 300;
}

.intro__name::first-letter {
  font-weight: 700;
}

.intro__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5rem auto;
  width: 300px;
}

.intro__icon {
  cursor: pointer;
  margin: 0 auto;
}

.intro__icon:hover, .intro__icon:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.intro__description {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
}

.intro__education {
  font-size: 18px;
}

.nav__list {
  background: #363638;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem 2rem;
}

.nav__link {
  list-style: none;
  padding: 2rem 0;
}

.nav__link a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.nav__link:hover, .nav__link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.about {
  background: #eaeaea;
  padding: 3rem 0 4rem 0;
}

.about__header {
  padding-top: 1rem;
  text-align: center;
}

.about__content {
  padding: 1rem 1.5rem;
  margin: auto;
  max-width: 800px;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 300px;
  padding-bottom: 1rem;
  background: white;
}

.resume__link {
  grid-area: main;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 75px;
  text-decoration: none;
  background: #363638;
  color: white;
}

.resume__link:hover, .resume__link:focus {
  -webkit-box-shadow: 0 0 0 5px #eaeaea, 0 0 0 10px #363638;
          box-shadow: 0 0 0 5px #eaeaea, 0 0 0 10px #363638;
  outline: none;
}

.resume__header {
  text-align: center;
  margin: 0 auto 0.5rem auto;
}

.contact {
  padding: 5rem 0;
  text-align: center;
  background: #eaeaea;
}

.contact__header {
  margin-bottom: 1rem;
}

.contact__item {
  margin: 0 auto 1.5rem auto;
  padding: 0 2rem;
}

.contact__item a {
  color: #363638;
  font-weight: 700;
  font-size: 18px;
}

.contact__item-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 750px) {
  .contact__item-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .nav__list {
    padding: 1rem 10px;
  }
  .resume {
    height: 150px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .contact__item-container {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */